[Desktop Entry]
Type=Application
Exec=gnome-terminal -e 'bash -c "bash $HOME/syncCore/commands/runSyncSourceProcess.bash"'
Hidden=false
NoDisplay=false
Name=SyncCore
Comment=
